html{
	font-size:16px
}

body 
{
	background-image:url("/home/amel/Documents/PAGINA WEB/RadioMaranatha/prueba.png");
	background-color: #ffffff
	font-family:"Helvetica","Arial";
}

.social-bar {
	position: fixed;
	right: 0;
	top: 50%;
	font-sizze: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: #E83028;
}

.icon-yahoo {
	background: #AE3CE3;
}

.icon-google {
	background: #B8C5C8;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

.ENVIVO {
	font-family:"courier""arial";
	background-color:#FF0202;
	position:absolute;
	display:flex;
	right:2%;
	border-radius:20px;
	padding:20px;
	z-index:5;
}
.ENVIVO p {
	font-size: 25px;
}
.ENVIVO p a {
	color:#fff;
	cursor:pointer;
}


#contenido
{
	position:absolute;
	display:flex;
	font-size:  xx-large;
	background-color:#FF5733;
	width:60px;
	margin:15px;
	border-radius:80px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	line-height: 48px;
	z-index:1;
}

h1
{
	color:#000;
	
}

h2
{
	color:#e44e2d;
}

#textoPr
{ 
	display:flex;
	height:auto;
	width:auto;
	position:absolute;
	color:#2E2E2E;
	font-weight:bold;
	margin:0 auto;
	text-align:center;
	padding-top:120px;
	z-index:0;

}

#contenido2
{
	position:flex;
	padding-top:500px;
	font-family: "courier""arial";
	font-weight:bolder;
	font-size:small;
	width:auto;
	height:0 auto;
	color:#71848B;
	text-align:center;
	z-index:2;
}

#reproductor
{
	margin:0 auto;
	width:0px;
	padding:0px;
}

.menu{
	width: 2.2rem;
	height: 2.7rem;
	background: #FF5733;
	border-radius: 0.5rem;
	position: absolute;
	top: 50%;
	left: 5%;
	font-family: "sans-serif""arial";
	font-size: 2rem;
	color: white;
	text-align: center;
	transition: left 0.7s;
	cursor: pointer;
	z-index: 10;
}

.checkbox:checked ~ .menu{
	left: 18%;
	border-radius:0 0.5rem 0.5rem 0;
}

.left-panel{
	width: 18%;
	height: 100%;
	background: -webkit-linear-gradient(#FF5733,#FF5733,#E55913);
	background: -o-linear-gradient(#FF5733,#FF5733,#E55913);
	background: linear-gradient(#FF5733,#FF5733,#E55913);
	position: absolute;
	top: 0;
	left: -18%;
	display: flex;
	aling-items: center;
	justify-content: center;
	transition: left 0.4s;
	z-index: 10;
}

.checkbox:checked ~ .left-panel{
	left: 0;
}

.checkbox{
	display: none;
}

a{
	color:#ffffff;
	text-decoration: none;
}

li{
	list-style: none;
	font-size: 2rem;
	text-align: center;
	padding: 0 0,5rem;
	margin: 1rem 0;
}

li:hover{
	color: white;
	border: solid white;
	border-width: 0 0.1rem;
}